.git
.env
.pixi
__pycache__
*.py[cod]
.coverage
.coverage.*
.pytest_cache
.mypy_cache
.dmypy.json
htmlcov
work
data
cruft
isc
mgw-data
branchwater
media
staticfiles
vars.env
db.sqlite3
*.sqlite3
*.log
