# Docker compose environment/settings
# These variables are used in the compose.yml and/or compose-dev.yml files.

# Where backend data is stored
EXTERNAL_DATA_DIR=./work/data
# The PostgreSQL and MongoDB databases shouldn't be stored on a network mount
POSTGRES_DATA_DIR=./work/postgres
MONGODB_DATA_DIR=./work/mongo
# Make sure this directory is writable by the user running the mongodb service
MONGODB_LOG_DIR=./work/mongo-logs
NGINX_DATA_DIR=./work/nginx
LOG_DIR=./work/django-logs

# Time zone to be used inside all containers
TZ=Europe/Berlin

# Runtime UID/GID for the MetagenomeWatch application containers.
MGWATCH_UID=1000
MGWATCH_GID=1000

# Pin docker images. We use index digests so that we get *exactly* the same
# image every time. Labels can be changed to point to different images.
DOCKER_NGINX_IMAGE=nginx@sha256:15d20a9e80b094bc7fea73c8207bac1d2196d02251df24c6bbc58b19af1b4fd5
# Digest for postgres:18-alpine should be pinned before production use.
DOCKER_POSTGRES_IMAGE=postgres@sha256:d3e1620b530c944afa6e887d22eb899824da68e19c52024bf98f5220c88a65b2
# Digest for mongo:8.2.3-noble.
DOCKER_MONGODB_IMAGE=mongo@sha256:e30bf5231ff01512e7db91feda37b7ef4fd499867b89a1e13bd6988a55745cf4

MAX_DOWNLOADS=1000
