<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Desirò" />
    <meta name="description" content="MetagenomeWatch provides a metagenome search engine able to search through petabyte scale databases in real time." />

    <title>MetagenomeWatch</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'mgw_api/style.css' %}">
</head>

<body>
    <header>
        <div class="page-head">
            <div class="logo">
                MetagenomeWatch
            </div>

            <div class="account-navigation">
                {% if request.user.is_authenticated %}
                    {{ request.user.username }}
                    <a href="{% url 'mgw_api:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'mgw_api:login' %}">Login</a>
                    <a href="{% url 'mgw_api:signup' %}">Signup</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- <p>&copy; MetagenomeWatch</p> -->
    </footer>
</body>

</html>
