{% extends "mgw_api/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="settings-section">
    <h2>Settings</h2>

    <form method="post" enctype="multipart/form-data" id="settings-form">
        {% csrf_token %}

        {% for settings in settings_form %}
            <div>
                {{ settings }} {{ settings.help_text }}
            </div>
        {% empty %}
            <div>
                <td colspan="3">No settings files found.</td>
            </div>
        {% endfor %}
        
        <div>
            <input type="submit" value="Save changes">
        </div>
    </form>
</div>

<script>
    document.querySelectorAll('#settings-form input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            document.getElementById('settings-form').submit();
        });
    });
</script>

{% endblock %}
