{% extends "mgw_api/base.html" %}

{% block content %}

{% include "mgw_api/settings.html" %}

<div class="upload-section" id="upload-section">
    <h2>Upload Genome</h2>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>{{ fasta_form.name }}</div>
        <div>{{ fasta_form.file }}</div>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="waiting-message" id="waiting-message" style="display: none;">
    <ul class="messages">
        <li class="info">Searching for matches, please wait. Do not close or reload the page. This process might take a few minutes.</li>
    </ul>
</div>

 <div class="help-section">
     <h2>How to Get Started</h2>
     <p>Welcome to MetagenomeWatch! To get started, simply upload a Fasta file with your favourite genomes. The search will then happen in the background and you will be redirected to the result page as soon as it is finished. Depending on the size of the genome, this may take up to 5 minutes. Please refrain from reloading the page in the meantime. If you are not interested in directly seeing the results, you can just click on the "Search" button at the top to submit another genome. This will prevent the automate redirection, but your results will be available in the watch section by pressing the "Watches" button.</p>
     <p>If you have any questions or require further assistance, please feel free to contact our development team. Happy searching!</p>
 </div>

<script>
    // Update name field with chosen file name
    const fileInput = document.querySelector('input[type="file"]');
    const nameInput = document.querySelector('input[name="name"]');

    fileInput.addEventListener('change', function() {
        if (fileInput.files.length > 0) {
            nameInput.value = fileInput.files[0].name;
        }
    });

    // Allow dropping a file on the name field
    nameInput.addEventListener('dragover', function(event) {
        event.preventDefault();
        nameInput.classList.add('drag-over');
    });

    nameInput.addEventListener('dragleave', function(event) {
        nameInput.classList.remove('drag-over');
    });

    nameInput.addEventListener('drop', function(event) {
        event.preventDefault();
        nameInput.classList.remove('drag-over');

        const files = event.dataTransfer.files;
        if (files.length > 0) {
            fileInput.files = files;
            nameInput.value = files[0].name;
        }
    });
    
    document.getElementById('upload-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        // hide upload and show submission message
        document.getElementById('upload-section').style.display = 'none';
        document.getElementById('waiting-message').style.display = 'block';
        // handle potential errors
        const handleError = (message) => {
            document.querySelector('.submission-message').innerHTML = `<ul class="messages"><li class="error">An error occurred: ${message}</li></ul>`;
            document.getElementById('upload-section').style.display = 'block';
            document.getElementById('waiting-message').style.display = 'none';
        };
        // AJAX request to submit form
        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            },
        }).then(response => {
            if (!response.ok) {
                handleError(`Network response was not ok. Status: ${response.status} - ${response.statusText}`);
            }
            return response.json();
        }).then(data => {
            if (data.success) {
                // Start polling for processing status
                const fastaId = data.fasta_id;
                const checkStatus = () => {
                    fetch(`/mgw_api/check_status/${fastaId}/`, {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                    }).then(response => {
                        if (!response.ok) {
                            handleError(`Network response was not ok. Status: ${response.status} - ${response.statusText}`);
                        }
                        return response.json();
                    }).then(data => {
                        if (data.status === 'Complete' && data.result_pk) {
                            window.location.href = `/mgw_api/result/${data.result_pk}/`;
                        } else if (data.status.startsWith('Error')) {
                            handleError(data.status);
                        } else {
                            setTimeout(checkStatus, 5000);
                        }
                    }).catch(error => {
                        handleError(error.message);
                    });
                };
                checkStatus();
            } else {
                handleError(data.error);
            }
        }).catch(error => {
            handleError(error.message);
        });
    });
</script>

<!-- <script> -->
<!--     document.getElementById('upload-form').addEventListener('submit', function(event) { -->
<!--         const submissionMessageDiv = document.querySelector('.submission-message'); -->
<!--         submissionMessageDiv.innerHTML = ''; -->
<!--     }); -->
<!-- </script> -->




{% endblock %}
